<div class="footer">
    <h3>Compass PSADMIN - A Community that works together.</h3>
    <p class="copyright">Copyright © 2018.Designed and built with all the love in the world by <a href="https://twitter.com/morapost" target="_blank">@BHUSHAN.<span class="second-line">All Rights Reserved.</span> </p>
  </div>